@import "vars";



@mixin brooklynp {

  text-align: center;
  color: $black;
  font-size: 18px;
  line-height: 30px;

}

@mixin brooklynh1 {

  text-align: center;
  color: $black;
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 80px;

}

@mixin newsmaintitle {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 30px;
  line-height: 50px;
  filter: drop-shadow(1px 2px 15px #666);

}

@mixin newsmidtitle {
  font-size: 23px;
  font-weight: 400;
  margin-bottom: 20px;
  line-height: 30px;
}

@mixin newsnormaltitle {
  font-size: 17px;
  font-weight: 200;
  line-height: 20px;
}

@mixin learnmorelinkfornews {
  text-decoration: none;
  color: $red;
  float: right;
  margin-top: 35px;
  text-align: right;
  padding-bottom: 5px;
  &:hover{
    border-bottom: 1px solid $red;
  }
}

@mixin newsimg {
  width: 550px;
  border: 2px solid black;
  transition: 1s;
  &:hover {
      filter: drop-shadow(1px 2px 15px #666);
  }
  
}

@mixin learnmoreh1{
  margin-top: 80px;
  margin-bottom: 50px;
  padding-bottom: 50px;
  font-weight: 800;
  font-size: 50px;
  border-bottom: 2px solid $blue;
  color: $blue;
}

@mixin learnmoreh2{
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 25px;
  color: $blue;
}
@mixin learnmorep{
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 100px;
  color: $blue;
}

@mixin button {
  border: 1px solid $blue;
  height: 30px;
  width: 90px;
  margin-top: 32px;
  color: $white;
  background: $blue;

  &:hover {
      background-color: $red;
      color: white;
      border: 1px solid $red;
      cursor: pointer;
      transition: 2s all;
      box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }
}

@mixin button2 {
  border: 1px solid $red;
  height: 30px;
  width: 110px;
  margin-top: 32px;
  color: $white;
  background: $red;

  &:hover {
      background-color: $blue;
      color: white;
      border: 1px solid $blue;
      cursor: pointer;
      transition: 2s all;
      box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }
}

@mixin nameinput {
  text-align: center;
  background-color: $inputgray;
  border: none;
  width: 180px;
  height: 40px;
}


@mixin textarea {
  text-align: center;
  resize: none;
  background-color: $inputgray;
  border: none;
  height: 40px;
  width: 300px;
}
@mixin learnfull{
  display: block;
  color: $red;
  text-decoration: none;
  cursor: pointer;
  &:hover{
      color: $blue;
      transition: 2s all;
  }
}


@mixin arrow{
  border: none;
  background: none;
  cursor: pointer;
}
