$blue: #17408B;
$white: #FFFFFF;
$red: #C9082A;
$black: #010203;
$bostongreen: #007A33;
$philablue: #006BB6;
$newyorkblue: #006BB6;
$newyorkorange: #F58426;
$torontored: #CE1141;
$chicagored: #CE1141;
$detroitred: #C8102E;
$detroitblue: #1D42BA;
$indianayellow: #FDBB30;
$indianablue: #002D62;
$clevelandred: #860038;
$clevelandyellow:#FDBB30;
$milgreen: #00471B;
$atlantared: #E03A3E;
$miamired: #98002E;
$charlottedarkblue: #1D1160;
$charlottelightblue: #00788C;
$orlandoblue:  #0077C0;
$washingtonblue: #002B5C;
$washingtonred: #E31837;
$denverblue:#0E2240;
$denveryellow:#FEC524;
$minnesotalightblue: #236192;
$minnesotadarkblue: #0C2340;
$okcblue: #007AC1;
$okcred: #EF3B24;
$portlandred: #E03A3E;
$utahblue: #002B5C;
$utahgreen: #00471B;
$sunsblue: #1D1160;
$sunsorange: #E56020;
$gswblue: #1D428A;
$gswyellow:#FFC72C;
$lakerspurple: #552583;
$lakersyellow: #FDB927;
$clipersred: #C8102E;
$clipersblue: #1D428A;
$sacrementopurple: #5A2D81;
$dalasdarkblue: #002B5E;
$dalaslightblue: #00538C;
$houstonred:#CE1141;
$memphislightblue: #5D76A9;
$memphisdarkblue: #12173F;
$neworleansblue:  #0C2340;
$neworleansbrown:#85714D;
$inputgray:	#E5E4E2;
$shadowfilter:  drop-shadow(1px 2px 15px #666);
$shadowfilter2:  drop-shadow(2px 5px 15px #222);

